In [1]:
a = 5

In [18]:
a

30.1

In [3]:
a = 10

In [4]:
a + a

20

In [13]:
a = a + a

In [14]:
a

320

In [15]:
type(a)

int

In [16]:
a = 30.1

In [17]:
type(a)

float

In [20]:
print('Hello \t world')

Hello 	 world

In [21]:
mystring = "Hello World"

In [22]:
mystring

'Hello World'

In [23]:
mystring[0]

'H'

In [24]:
mystring[-10]

'e'

In [25]:
mystring= 'abcdefg'

In [26]:
mystring[2:]

'cdefg'

In [27]:
mystring[:4]

'abcd'

In [28]:
mystring[3:6]

'def'

In [29]:
mystring[: :]

'abcdefg'

In [30]:
mystring[::2]

'aceg'

In [31]:
mystring[::-1]

'gfedcba'

In [32]:
letter = 'Z'

In [33]:
letter * 10

'ZZZZZZZZZZ'

In [34]:
x = 'Hello world'

In [35]:
x.upper()

'HELLO WORLD'

In [39]:
print('{0} {0} Wu Chi'.format("I","am"))

I I Wu Chi

In [41]:
print('{q} {b} {f}'.format(f = "fox",q = "quick" ,b = "brown"))

quick brown fox

In [49]:
result = 100.25

In [50]:
result

100.25

In [51]:
print('Answer is = {r:1.3f}'.format(r = result))

Answer is = 100.250

In [52]:
print('Answer is = {r:1.2f}'.format(r = result))

Answer is = 100.25

In [54]:
print(f'Answer is {result}')

Answer is 100.25

In [55]:
name = "Amos"
age = 19

In [58]:
print(f'My name is {name} and age is {age}.')

My name is Amos and age is 19.

In [59]:
mylist= [1,2,3]

In [60]:
mylist= ["me", 10, 20.6]

In [62]:
len(mylist)

3

In [63]:
mylist[1:]

[10, 20.6]

In [64]:
mylist

['me', 10, 20.6]

In [66]:
mylist= [1,2,3,4,5]

In [67]:
anotherlist = [6,7]

In [72]:
newlist = mylist + anotherlist

In [73]:
newlist

[1, 2, 3, 4, 5, 6, 7]

In [74]:
newlist[0] = "One"

In [75]:
newlist

['One', 2, 3, 4, 5, 6, 7]

In [76]:
newlist.append(8)

In [77]:
newlist

['One', 2, 3, 4, 5, 6, 7, 8]

In [78]:
newlist.pop()

8

In [79]:
newlist

['One', 2, 3, 4, 5, 6, 7]

In [80]:
popped_item = newlist.pop()

In [81]:
popped_item

7

In [82]:
newlist

['One', 2, 3, 4, 5, 6]

In [84]:
newlist.pop(0)

'One'

In [85]:
newlist

[2, 3, 4, 5, 6]

In [86]:
new_list = ['a' , 'e' , 'x' , 'f']

In [87]:
new_list.sort()

In [88]:
new_list

['a', 'e', 'f', 'x']

In [89]:
num_list = [2 , 6 , 9 ,3]
num_list.sort()

In [90]:
num_list

[2, 3, 6, 9]

In [91]:
num_list.reverse()

In [92]:
num_list

[9, 6, 3, 2]

In [96]:
price_lookup = {'apple' : 30 ,'banana' : 20 , 'milk' : 80}

In [98]:
price_lookup['apple']

30

In [99]:
d = {'k1' : 123 , 'k2' : [1 , 2 , 3] , 'k3' : { 'insidekey' : 100}}

In [100]:
d['k2']

[1, 2, 3]

In [102]:
d['k3']

{'insidekey': 100}

In [103]:
d['k3']['insidekey']

100

In [104]:
d['k2'][2]

3

In [105]:
d['k4'] = 600

In [106]:
d

{'k1': 123, 'k2': [1, 2, 3], 'k3': {'insidekey': 100}, 'k4': 600}

In [107]:
d['k1'] = 321

In [108]:
d

{'k1': 321, 'k2': [1, 2, 3], 'k3': {'insidekey': 100}, 'k4': 600}

In [109]:
d.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [110]:
d.values()

dict_values([321, [1, 2, 3], {'insidekey': 100}, 600])

In [111]:
d['k2'] = 400
d['k3'] = 200

In [112]:
d

{'k1': 321, 'k2': 400, 'k3': 200, 'k4': 600}

In [113]:
d.items()

dict_items([('k1', 321), ('k2', 400), ('k3', 200), ('k4', 600)])

In [114]:
tuple = (1 , 2 , 3)

In [115]:
my_list = [1 , 2 ,3]

In [116]:
type(tuple)

tuple

In [117]:
type(my_list)

list

In [119]:
tuple[0]

1

In [120]:
t = ('a' , 'a' , 'b')

In [121]:
t.count('a')

2

In [122]:
t.index('a')

0

In [123]:
t[0] = "new"

TypeError: 'tuple' object does not support item assignment

In [124]:
myset = set()

In [125]:
myset.add(1)

In [126]:
myset

{1}

In [127]:
myset.add(2)

In [128]:
myset

{1, 2}

In [129]:
myset.add(2)

In [130]:
myset

{1, 2}

In [131]:
mylist = [1 ,1 ,1 ,1 ,2, 2, 2, 3 ,3 ]

In [132]:
set(mylist)

{1, 2, 3}

In [133]:
true

NameError: name 'true' is not defined

In [135]:
True

True

In [136]:
type(True)

bool

In [137]:
1 > 2

False

In [139]:
1 == 1

True

In [140]:
pwd

'/Users/wuchi/Documents/Python'

In [142]:
%%writefile myfile.txt
Hello, this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [144]:
myfile = open('myfile.txt')

In [145]:
myfile

In [146]:
myfile.read()

'Hello, this is a text file\nthis is the second line\nthis is the third line\n'

In [147]:
myfile.read()

''

In [148]:
myfile.seek(0)

0

In [149]:
myfile.read()

'Hello, this is a text file\nthis is the second line\nthis is the third line\n'

In [150]:
contents = myfile.read()

In [151]:
contents

''

In [152]:
myfile.seek(0)

0

In [153]:
myfile.readlines()

['Hello, this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [154]:
myfile.close()

In [155]:
myfile.read()

ValueError: I/O operation on closed file.

In [156]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [157]:
contents

'Hello, this is a text file\nthis is the second line\nthis is the third line\n'

In [165]:
with open('myfile.txt', mode='r') as myfile:
    contents = myfile.read()

In [177]:
%%writefile  my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [169]:
with open ('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [178]:
with open ('my_new_file.txt', mode = 'a') as f:
    f.write('FOUR ON FORTH')

In [179]:
with open ('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FORTH

In [180]:
with open ('nofile.txt', mode = 'w') as f:
    f.write('I creat this file')

In [181]:
with open ('nofile.txt', mode = 'r') as f:
    print(f.read())

I creat this file