In [1]:
2 == 2

True

In [2]:
2 == 1

False

In [3]:
'hello' == 'bye'

False

In [4]:
'bye' == 'Bye'

False

In [5]:
'2' == 2

False

In [6]:
2 == 2.0

True

In [8]:
3 != 3

False

In [9]:
3 != 6

True

In [10]:
1 < 2 < 3

True

In [11]:
1 < 2 > 3

False

In [12]:
1 < 2 and 2 < 3

True

In [15]:
('a' == 'a') and 1 == 1

True

In [16]:
100 == 1 or 2 ==2

True

In [17]:
not True

False

In [18]:
not( 1 == 1 )

False

In [19]:
400 > 5000

False

In [20]:
not (400 > 5000)

True

In [28]:
hungry = True
if hungry== False:
    print('Feed dog')
else:
    print("I'm not hungry")

I'm not hungry

In [23]:
if 3 > 2:
    print('Its true')

Its true

In [33]:
loc = 'Game'
if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool")
elif loc == 'Store':
    print("Welcome to the store")
else:
    print("I don't know too much")

I don't know too much

In [36]:
name = 'Jimmy'
if name == 'Frankie':
    print('Hello Frankie')
elif name == 'Sammy':
    print('Hello Sammy')
else:
    print('What is your name')

What is your name

In [37]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [40]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [49]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number :{num}')

Odd Number :1
2
Odd Number :3
4
Odd Number :5
6
Odd Number :7
8
Odd Number :9
10

In [51]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
print(list_sum)

55

In [54]:
mystring = 'Hello World'
for letter in mystring:
    print('2')

2
2
2
2
2
2
2
2
2
2
2

In [55]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [56]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
len(mylist)

4

In [61]:
for a,b in mylist:
    print(a)
    #print(b)

1
3
5
7

In [62]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]
for a,b,c in mylist:
    print(b)

2
6
9

In [67]:
d = {'k1': 1, 'k2': 2 , 'k3': 3}
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [65]:
d = {'k1': 1, 'k2': 2 , 'k3': 3}
for key,value in d.items():
    print(value)

1
2
3

In [69]:
d = {'k1': 1, 'k2': 2 , 'k3': 3}
for value in d.values():
    print(value)

1
2
3

In [4]:
x = 0
while x < 5:
    print(f'The current value of x is {x}')
    x += 1
    # x = x + 1
else:
    print ("X IS NOT LESS THAN 5 ")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

In [5]:
x = [1,2,3]
for item in x:
    # comment
    pass
print('end of my script')

end of my script

In [13]:
mystring = 'Sammy'
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [14]:
mystring = 'Sammy'
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [25]:
x = 0
while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [1]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [2]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [3]:
index_count = 0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [7]:
 word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [14]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [9]:
zip(mylist1,mylist2)

In [15]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [16]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [17]:
'x' in [1,2,3]

False

In [18]:
'x' in ['a','x','z']

True

In [19]:
'a' in 'a world'

True

In [20]:
'mykey' in {'mykey': 123}

True

In [22]:
d = {'mykey' : 124}
124 in d.keys()

False

In [23]:
from random import shuffle

In [24]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [25]:
shuffle(mylist)

In [26]:
mylist

[5, 4, 7, 9, 3, 2, 10, 1, 6, 8]

In [28]:
random_list = shuffle(mylist)

In [29]:
from random import randint

In [30]:
randint(1,100)

8

In [32]:
result = input('Enter a number here :')

Enter a number here :150

In [33]:
result

'150'

In [34]:
float(result)

150.0

In [35]:
mystring = 'hello'

In [38]:
mylist = []
for letter in mystring:
    mylist.append(letter)

In [39]:
mylist

['h', 'e', 'l', 'l', 'o']

In [40]:
mylist = [letter for letter in mystring]

In [41]:
mylist

['h', 'e', 'l', 'l', 'o']

In [42]:
mylist = [x for x in range(0,11)]

In [43]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [48]:
mysquare = [x*2 for x in range(0,11)]

In [49]:
mysquare

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [50]:
mylist = [x for x in range(0,11) if x % 2 == 0]

In [51]:
mylist

[0, 2, 4, 6, 8, 10]

In [53]:
celcius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [54]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [55]:
fahrenheit = []
for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)

In [56]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [57]:
result = [x if x%2 == 0 else 'ODD' for x in range(0,11)]

In [58]:
result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [60]:
mylist = []
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [61]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [62]:
mylist = [x * y for x in [2,4,6] for y in [100,200,300]]

In [63]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [69]:
def name_function():
    '''
    DOCSTRING:information
    INPUT: no input
    OUTPUT: OUT
    '''
    print('Hello')

In [70]:
help(name_function)

Help on function name_function in module __main__:

name_function()
    DOCSTRING:information
    INPUT: no input
    OUTPUT: OUT

In [90]:
def say_hello(name = 'Name'):
    return 'hello ' +name

In [91]:
result = say_hello("Zach")

In [92]:
result

'hello Zach'

In [93]:
def add(n1,n2):
    return n1+n2

In [95]:
result = add(20,30)

In [96]:
result

50

In [102]:
def dog_check(mystring):
    if 'dog' in mystring.lower():
        return True
    else:
        return False

In [103]:
dog_check('Dog is eating')

True

In [100]:
dog_check('Cat is sleeping')

False

In [104]:
def dog_check(mystring):
    return 'dog' in mystring

In [105]:
dog_check('dog eat')

True

In [116]:
def pig_latin(word):
    
    first_letter = word[0]
    if first_letter in 'aeiou' :
        pig_word = word + 'ay'
    else:
        pig_word = word[1:] + first_letter + 'ay'
    return pig_word

In [117]:
pig_latin('word')

'ordway'

In [118]:
pig_latin('apple')

'appleay'

In [125]:
def myfunc(*args):
    for item in args:
        print(item)
    return sum(args) * 0.05

In [126]:
myfunc(10, 20 ,60 ,70)

10
20
60
70

8.0

In [131]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [133]:
myfunc(fruit='apple',veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [134]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [135]:
myfunc(10,20,30,fruit = 'apple', food = 'eggs', animal = 'dog')

(10, 20, 30)
{'fruit': 'apple', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

In [138]:
def myfunc(*args):
    if args%2 == 0:
        return list(args)

In [139]:
myfunc(10,20)

TypeError: unsupported operand type(s) for %: 'tuple' and 'int'

In [140]:
def myfunc(*args):
    mylist = []
    for items in args:
        if items%2 == 0:
            mylist.append(items)
    return mylist

In [141]:
myfunc(1,2,3,4,5,6,7,8,9)

[2, 4, 6, 8]

In [154]:
def myfunc(string):
        print(string)

In [155]:
myfunc('abcd')

abcd

In [166]:
def myfunc(a):
    x = 0
    for word[x] in a:
        if x%2 == 0:
            return word[x].upper()
        x = x + 1

In [167]:
myfunc('abc')

TypeError: 'str' object does not support item assignment

In [161]:
aph[0]

'a'

In [172]:
def myfunc(a):
    for letter in enumerate(a):
        print(letter)

In [173]:
myfunc('abc')

(0, 'a')
(1, 'b')
(2, 'c')