In [1]:
1+3

4

In [2]:
2*2

4

In [3]:
3*2

6

In [4]:
3/2

1

In [5]:
float(3)/2

1.5

In [6]:
float(3)

3.0

In [7]:
from __future__ import division

In [8]:
3/2

1.5

In [9]:
2**3

8

In [10]:
4**5

1024

In [11]:
4**0.5

2.0

In [12]:
2 + 10 * 10 + 3

105

In [13]:
(2+10)*(10+3)

156

In [14]:
a = 5

In [15]:
a

5

In [16]:
a = 10

In [17]:
a

10

In [18]:
a = a + a

In [19]:
a

20

In [20]:
my_income = 100

In [21]:
tax_rate = 0.1

In [22]:
my_taxes = my_income*tax_rate

In [23]:
my_taxes

10.0

In [24]:
'Hello'

'Hello'

In [25]:
'This also a string'

'This also a string'

In [26]:
' "this is a quote" '

' "this is a quote" '

In [27]:
print 'Hello world 1'
print 'Hello world 2'

Hello world 1
Hello world 2

In [28]:
print 'Here is a new line \t and here is the second line'

Here is a new line 	 and here is the second line

In [29]:
from __future__ import print_function

In [33]:
print ('Hello world')

Hello world

In [34]:
len('Hello world')

11

In [35]:
s = 'Hello world'

In [36]:
print s

SyntaxError: invalid syntax (<ipython-input-36-c4120e3a55bb>, line 1)

In [37]:
print(s)

Hello world

In [38]:
s

'Hello world'

In [39]:
s[0]

'H'

In [40]:
s[1]

'e'

In [41]:
s[:3]

'Hel'

In [42]:
s[1:]

'ello world'

In [43]:
s[:-1]

'Hello worl'

In [44]:
s[::1]

'Hello world'

In [45]:
s[::-1]

'dlrow olleH'

In [46]:
s[::2]

'Hlowrd'

In [47]:
s[0] ='x'

TypeError: 'str' object does not support item assignment

In [48]:
s

'Hello world'

In [49]:
s + ' concatenate me!'

'Hello world concatenate me!'

In [50]:
letter = 'zz'

In [51]:
letter

'zz'

In [52]:
letter*10

'zzzzzzzzzzzzzzzzzzzz'

In [53]:
s = 'Hello'

In [54]:
s.upper()

'HELLO'

In [55]:
s.split

In [57]:
s.split('e')

['H', 'llo']

In [58]:
print ('This is a string')

This is a string

In [60]:
x = 13.13
print ('Place my variable here: %s' %(x))

Place my variable here: 13.13

In [62]:
print('Floating point number: %1.2f'%(13.145))

Floating point number: 13.14

In [63]:
print('Convert to string %r' %(123))

Convert to string 123

In [64]:
print('First: %s , second: %s, third %s' %('hi!',"two",3))

First: hi! , second: two, third 3

In [65]:
print('First: %s, second: %s' %(2,2))

First: 2, second: 2

In [66]:
print ('First:{x}, Second: {x}'.format(x='inserted',y='two'))

First:inserted, Second: inserted

In [67]:
my_list = [1,2,3]

In [68]:
my_list

[1, 2, 3]

In [69]:
len(my_list)

3

In [70]:
my_list[1:]

[2, 3]

In [75]:
my_list[:1]

[1]

In [76]:
my_list +['new item']

[1, 2, 3, 'new item']

In [78]:
my_list = my_list + ['new item']

In [79]:
my_list

[1, 2, 3, 'new item']

In [80]:
l = [1,2,3]

In [81]:
l.append('4')

In [82]:
l

[1, 2, 3, '4']

In [83]:
l[3]

'4'