In [1]:
if True:
    print 'It was true'

It was true

In [3]:
x = False

if x:
    print 'x was True'
else:
    print 'I will print when x is not True'

I will print when x is not True

In [6]:
loc = 'Bank'
if loc == 'Auto Shop':
    print 'Welcome to the auto shop'
elif loc == 'Bank':
    print 'Welcome to the bank!'
else:
    print 'Where are you'

Welcome to the bank!

In [9]:
person = 'Sam'

if person == 'Sam':
    print 'Hi Sam!'
else:
    print "What's your name"

Hi Sam!

In [10]:
person =='Sam'

True

In [11]:
l = [1,2,3,4,5]

In [12]:
l

[1, 2, 3, 4, 5]

In [13]:
for num in l:
    print 'something'

something
something
something
something
something

In [14]:
10 % 3

1

In [15]:
18 % 7

4

In [16]:
7 % 2

1

In [17]:
l

[1, 2, 3, 4, 5]

In [19]:
for num in l:
    if num % 2 == 0:
        print num
    else:
        print 'Odd'

Odd
2
Odd
4
Odd

In [20]:
l

[1, 2, 3, 4, 5]

In [21]:
list_num = 0

for num in l:
    list_num = list_num + num
print list_num

15

In [22]:
s = 'this is a string'

In [23]:
for item in s:
    print item

t
h
i
s

i
s

a

s
t
r
i
n
g

In [24]:
tup = (1,2,3,4,5)
for item in tup:
    print item

1
2
3
4
5

In [25]:
l = [(2,4),(6,8),(10,12)]

In [26]:
l

[(2, 4), (6, 8), (10, 12)]

In [27]:
for tup in l:
    print tup

(2, 4)
(6, 8)
(10, 12)

In [29]:
for (t1,t2) in l:
    print t1

2
6
10

In [30]:
d = {'k1':1,'k2':2,'k3':3}

In [31]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [32]:
for item in d:
    print item

k3
k2
k1

In [34]:
for k,v in d.items():
    print k
    print v

k3
3
k2
2
k1
1

In [1]:
x = 0
while x < 10:
    print 'x is currently:' , x
    x +=1

x is currently: 0
x is currently: 1
x is currently: 2
x is currently: 3
x is currently: 4
x is currently: 5
x is currently: 6
x is currently: 7
x is currently: 8
x is currently: 9

In [2]:
x = 0
while x < 10:
    print 'x is currently:' , x
    x +=1
else:
    print 'All done'

x is currently: 0
x is currently: 1
x is currently: 2
x is currently: 3
x is currently: 4
x is currently: 5
x is currently: 6
x is currently: 7
x is currently: 8
x is currently: 9
All done

In [3]:
x = 0
while x < 10:
    print 'x is currently:' , x
    print ' x is still less than 10, adding 1 to x'
    x += 1
    
    if x == 3:
        print 'Hey x equals 3!'
    else:
        print 'continuing.....'
        continue

x is currently: 0
 x is still less than 10, adding 1 to x
continuing.....
x is currently: 1
 x is still less than 10, adding 1 to x
continuing.....
x is currently: 2
 x is still less than 10, adding 1 to x
Hey x equals 3!
x is currently: 3
 x is still less than 10, adding 1 to x
continuing.....
x is currently: 4
 x is still less than 10, adding 1 to x
continuing.....
x is currently: 5
 x is still less than 10, adding 1 to x
continuing.....
x is currently: 6
 x is still less than 10, adding 1 to x
continuing.....
x is currently: 7
 x is still less than 10, adding 1 to x
continuing.....
x is currently: 8
 x is still less than 10, adding 1 to x
continuing.....
x is currently: 9
 x is still less than 10, adding 1 to x
continuing.....

In [5]:
range(20)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [6]:
x = range(0,10)

In [7]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
type(x)

list

In [9]:
start = 0
stop = 20
range(start,stop)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [10]:
l = [1,2,3,4,5]

In [11]:
for num in range(1,7):
    print num

1
2
3
4
5
6

In [12]:
x = xrange(1,6)
x2 = range(1,6)

In [14]:
type(x2)

list

In [15]:
list(x)

[1, 2, 3, 4, 5]

In [16]:
l = []
for letter in 'Word':
    l.append(letter)
print l

['W', 'o', 'r', 'd']

In [18]:
lst = [letter for letter in 'Word']

In [19]:
lst

['W', 'o', 'r', 'd']

In [20]:
lst = [x**2 for x in range(0,11)]

In [21]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
lst = [number for number in range(11) if number % 2 == 0]

In [23]:
lst

[0, 2, 4, 6, 8, 10]

In [24]:
lst = []

for number in range(11):
    if number % 2 == 0:
        lst.append(number)

In [25]:
lst

[0, 2, 4, 6, 8, 10]

In [28]:
c = [0,10,20,1,34.5]

f = [(temp *(9/5.0) + 32)for temp in c]

In [29]:
f

[32.0, 50.0, 68.0, 33.8, 94.1]

In [30]:
lst = [ x **2 for x in   [x **2 for x in range(11)]]

In [31]:
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [32]:
l = [1,2,3,4,5]

In [33]:
l.append(6)

In [34]:
l

[1, 2, 3, 4, 5, 6]

In [35]:
l.count(3)

1

In [36]:
help(l.count)

Help on built-in function count:

count(...)
    L.count(value) -> integer -- return number of occurrences of value

In [37]:
l.reverse()

In [38]:
l

[6, 5, 4, 3, 2, 1]

In [40]:
l.pop(5)

1

In [41]:
l

[6, 5, 4, 3, 2]

In [42]:
def say_hello():
    print 'hello'

In [43]:
say_hello()

hello

In [44]:
def add_num(num1,num2):
    return num1+num2

In [45]:
x = add_num(2,3)

In [46]:
x

5

In [47]:
x = add_num('one','two')

In [48]:
x

'onetwo'

In [52]:
def is_prime(num):
    """
    
    INPUT: A number
    
    OUTPUT: XXX
    
    """
    for n in range(2,num):
        if num % n == 0:
            print 'Not Prime'
            break
        else:
            print 'The number is prime'

In [55]:
is_prime(13)

The number is prime
The number is prime
The number is prime
The number is prime
The number is prime
The number is prime
The number is prime
The number is prime
The number is prime
The number is prime
The number is prime